.container{
    text-align: center;
    background-color: rgb(249, 247, 201);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inputBar{
    background-color: white;
    /* border-radius: 50px; */
    border: none;
    height: 33px;
    width: 300px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.inputBar:focus{
    outline: 2px solid black;
}
.regButton{
    height: 35px;
    width: 300px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 13px;
    cursor: pointer;
    border: none;
}

.exitButton{
    width: 60px;
    height: 30px;
    color:rgb(128, 188, 189);
    
}