.center{
    background-color: white;
    width: 45%;
    margin:0px auto auto auto;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 10px;
    height: 78vh;
    overflow: auto;
    text-align: center;
}
.inputBar1{
    height: 50px;
    width: 400px;
    border: 1px solid rgb(190, 190, 190);
    margin-right: 30px;
    font-size: 30px;

}
.inputBar1:focus{
    outline: none;
}
.addButton{
    background-color: blueviolet;
    height: 53px;
    border: none;
    width: 50px;
    border: 1px solid blueviolet;
    border-radius: 5px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.con{
    background-color: rgb(237, 237, 237);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    padding-left: 10px;
    padding-top:10px ;
    padding-bottom: 10px;
}
.deleteButton{
    background-color: red;
    height: 53px;
    border: none;
    width: 50px;
    border: 1px solid red;
    border-radius: 5px;
    color: white;
    /* font-size: 30px; */
    margin-right: 10px;
    cursor: pointer;
}
.editButton{
    background-color: green;
    height: 53px;
    border: none;
    width: 50px;
    border: 1px solid green;
    border-radius: 5px;
    color: white;
    /* font-size: 30px; */
    margin-right: 10px;
    cursor: pointer;
}
.box{
    height: 50px;
    border: none;
    width: 50px;
    border-radius: 5px;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}
.buttonsBlock{
    display: flex;
}
.logout{
    font-size: 20px;
}
.heading{
    font-size: 40px;
}
.editInbox{
    height: 50px;
    font-size: 30px;
}
.saveButton{
    background-color: green;
    height: 53px;
    border: none;
    width: 50px;
    border: 1px solid green;
    border-radius: 5px;
    color: white;
    /* font-size: 30px; */
    margin-right: 10px;
}
.inputplus{
    text-align: center;
}
.para{
    color: rgb(132, 132, 132);
}
#inputb{
    margin-right: 80px;
    margin-top: 15px;
}